.form {
    @apply my-5 mx-5 flex flex-col relative max-w-2xl;
}

.buttons-container {
    @apply flex flex-col items-center;
}

.success-button, button[type='submit'] {
    @apply bg-green-800 hover:bg-green-700 text-white py-2 px-4 rounded;
}

.ant-btn.primary-button {
    @apply bg-blue-500 hover:bg-blue-400 text-white px-4 rounded max-w-40;
}

.tertiary-button {
    @apply bg-gray-500 hover:bg-gray-400 text-white py-2 px-4 rounded;
}


@media only screen and (min-width: 600px){
    .form {
        @apply my-5 mx-auto flex flex-col relative max-w-2xl;
    }
    .buttons-container {
        @apply flex flex-row justify-between items-center;
    }
}
.form-field-container{
    @apply relative mb-2;
}

.form-textarea,
.form-select,
.form-input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #dce0e8;
    outline: none;
    font-weight: lighter;
}
.form .form-input{
    border: 1px solid #dce0e8;
}

.form-select {
    padding: 12px 15px;
    appearance: none;
    background: rgba(255, 255, 255, 1) url(../assets/arrow-down.svg) no-repeat scroll calc(100% - 18px) center/8px auto;
    background-size: 14px;
}

.form-input[readOnly] {
    background: #f3f3f3;
}

.form-label {
    background: white;
    position: absolute;
    left: 15px;
    top: -12px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: lighter;
    color: #9ca3af;
}

.name-label {
    background: linear-gradient(to bottom, #ffffff 56%, #f3f3f3 44%);
}

.email-label{
    color: #9ca3af;
    @apply flex gap-3 my-5 text-sm font-extralight;
}

.location-icon {
    position: absolute;
    right: 17px;
    top: 135px;
}

.area-icon {
    position: absolute;
    right: 17px;
    top: 195px;
}


.success-button,
.tertiary-button{
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 200px;
    font-weight: 400;
    letter-spacing: 0.2rem;
    transition: 0.3s all;
    cursor: pointer;
}

input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-email-field {
    display: flex;
    gap: 10px;
    align-items: center;
}

.email-input {
    width: 80%;
}

.error, .form .error {
    border-left: 5px solid #ec5990;
}

.emails-label {
    line-height: 2;
    text-align: left;
    display: block;
    font-size: 14px;
    font-weight: 200;
    color: #9ca3af;
}


.form-textarea {
    resize: none;
    padding: 12px;
}
p {
    color: #bf1650;
    font-size: 10px;
}

p::before {
    display: inline;
    content: "⚠ ";
}






