.home-page-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 100vh;
}

.articles-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.article {
  width: 45%;
  height: 300px; /* Adjust the height as needed */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 4px 4px 6px rgba(0, 0, 0, 0.1),
    4px 0 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.article h2 {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.article h3 {
  flex-grow: 1;
}

.action-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: auto;
}

.action-button:hover {
  background-color: #0056b3;
}

/* For screens under 500px */
@media screen and (max-width: 500px) {
  .home-page-container {
    flex-direction: column;
  }

  .article {
    width: 90%;
  }
}
