spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jahr
    username: jahr
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    show-sql: true
  sql:
    init:
      mode: always
logging:
  level:
    org:
      springframework:
        boot:
          autoconfigure: ERROR